<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328746114880-3as0une3f15gdueeh9if6d0720q65fq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328746114880-3as0une3f15gdueeh9if6d0720q65fq3</string>
	<key>API_KEY</key>
	<string>AIzaSyBX4uj7Grpm-8hcz1X9uihLrWe9ba4g7Po</string>
	<key>GCM_SENDER_ID</key>
	<string>328746114880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giloeng.partyPlanner</string>
	<key>PROJECT_ID</key>
	<string>partyplanner-5a9a5</string>
	<key>STORAGE_BUCKET</key>
	<string>partyplanner-5a9a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328746114880:ios:96c27c3f1d6f58cb7fe4a5</string>
</dict>
</plist>